langchain==0.0.184
PyPDF2==3.0.1
pypdf
python-dotenv==1.0.0
streamlit==1.18.1
altair==4
tiktoken==0.4.0
sentence-transformers==2.2.2
transformers==4.29.0
huggingface-hub==0.14.1
pydantic==2.11.4
fastapi==0.115.9
uvicorn 
qdrant_client
ollama
python-multipart


